<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insta</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
    *{
        text-align: center;
        background-color: bisque;
    }
    img{
        height: 250px;
        width: 300px;
    }
    h1{
        font-weight: bold;
        font-size: 45px;
        color:blueviolet
    }
    hr{
        color: black;
        background: #000;
    }
    button{
        border: 2px solid rgb(197, 197, 202);
        background: rgb(70, 70, 159);
        padding: 10px;
        color: aliceblue;
        border-radius: 4px;
    }
    
    img{
        border: 3px solid rebeccapurple;
    }</style>
</head>
</html>