<%- include("includes/head.ejs") %>

<body>
    <h1>This is Ejs project</h1>
    <!-- // direct calculate 1+4 or any other operation -->
    <h3>Total of 1+4 = <%= 1+4 %> </h3> 

    <!-- convert text in toUpperCase -->
    <h3> <%= "Dimpal".toUpperCase() %> </h3>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi asperiores, neque dignissimos itaque dolore distinctio quae ut repellendus! Consequatur corporis rem praesentium tempora eaque blanditiis inventore dolorum laboriosam facere aspernatur?</p>
    
    <button>click me!</button>
</body>
